@model IEnumerable<Inventario_2.Models.AsientoContable>

@{
    ViewData["Title"] = "Listado de asientos sin contabilizar";
}

<h1 style="margin: auto; font-size: 2rem; font-weight: bold;">@ViewData["Title"]</h1>
<br />

<div style="padding: 5px; border-radius: 5px; display: flex; align-items: center; flex-wrap: wrap;">
    <form asp-controller="AsientoContables" asp-action="Index" method="get" style="margin-bottom: 10px;">
        <p style="display: flex; align-items: center;">
            <label style="margin-right: 5px;">Filtrar:</label>
            <input type="text" name="buscar" class="form-control" style="width: 300px; height: 34px;" />
            <button type="submit" class="btn btn-secondary" style="display: inline-flex; align-items: center; margin-left: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="margin-right: 5px;">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
                Buscar
            </button>
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Cuenta Débito
            </th>
            <th>
                Cuenta Crédito
            </th>
            <th>
                Monto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaDbDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaCrDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    <form asp-controller="AsientoContables" asp-action="Contabilizar" method="post">
                        <input type="hidden" name="id" value="@item.IdMovimiento" />
                        <button type="submit" class="btn btn-warning" style="margin-left: 5px; display: inline-flex; align-items: center; height: 34px;">Contabilizar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Verificación de Conexión</h1>
<div>
    <p>@ViewBag.Message</p>
</div>
